doctype html
html
  include /../../static/assets/lib/ldui/pug/ldui.pug
  block vars
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    +css("assets/lib/ldui/ldui.min.css")
    style(type="text/css"): :stylus
      html, body { width: 100%; height: 100%; margin: 0; padding: 0; }
      *[ld=editor] > div { width: 100%; height: 100% }
    block head
  body: .p-4.w-100.h-100
    include library.pug
    block body
    +script("assets/lib/ldui/ldui.min.js")
    +script("js/base.js")
    +script("js/transpiler.js")
    +script("js/editlet.js")
    +script("js/editor.js")
    block script
