extends /base.pug
block body
  .d-flex.h-100.h-100.flex-column
    .w-100.mb-2
      .btn.btn-outline-dark(ld="edit",data-name="html") HTML
      .btn.btn-outline-dark(ld="edit",data-name="css") CSS
      .btn.btn-outline-dark(ld="edit",data-name="js") JS
    .flex-grow-1.d-flex.w-100
      .w-100.h-100.border.mr-2(ld="editor")
      .w-100.h-100.border.ml-2(ld="viewer")
block script
  +script("js/chart.js")
