//- module
//- required
+css("/assets/lib/codemirror/5.49.2/lib/codemirror.min.css")
+css("/assets/lib/codemirror/5.49.2/theme/ayu-mirage.css")
+css("/assets/lib/codemirror/5.49.2/theme/mdn-like.css")

//- for dev
+css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
+css("/assets/lib/ldui/ldui.min.css")

style: :stylus
  @font-face
    font-family: 'ldi'
    font-weight: normal
    font-style: normal
    src: url('/assets/lib/ldui/fonts/ldi.ttf') format('truetype')
  html,body { width: 100%; height: 100%; margin: 0; padding: 0 }


//- required
+script("/assets/lib/codemirror/5.49.2/lib/codemirror.min.js")

//- syntax highlight
+script("/assets/lib/codemirror/5.49.2/mode/javascript/javascript.js")
+script("/assets/lib/codemirror/5.49.2/mode/css/css.js")
+script("/assets/lib/codemirror/5.49.2/mode/xml/xml.js")
+script("/assets/lib/codemirror/5.49.2/mode/htmlmixed/htmlmixed.js")
+script("/assets/lib/codemirror/5.49.2/mode/livescript/livescript.js")
+script("/assets/lib/codemirror/5.49.2/mode/stylus/stylus.js")
+script("/assets/lib/codemirror/5.49.2/mode/pug/pug.js")
+script("/assets/lib/codemirror/5.49.2/mode/markdown/markdown.js")

//- search + vim mode
+script("/assets/lib/codemirror/5.49.2/addon/dialog/dialog.js")
+script("/assets/lib/codemirror/5.49.2/addon/search/searchcursor.js")
+script("/assets/lib/codemirror/5.49.2/keymap/vim.js")

//- transpilers
//- TODO: better way for retrieving pug and stylus dist files.
+script("https://cdnjs.cloudflare.com/ajax/libs/livescript/1.6.0/livescript-min.js")


+script("https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.min.js")
//- init before loading pug to make it work.
script: :lsc
  BrowserFS.install window
  BrowserFS.configure {fs: \LocalStorage}, -> window.fs = fs = require("fs")
+script("/assets/lib/pug/pug.js")
+script("/assets/lib/marked/0.8.0/marked.min.js")
//- this simply doesn't work
//-+script("https://cdnjs.cloudflare.com/ajax/libs/stylus/0.32.1/stylus.min.js")
//- don't remember where this is from... orz
+script("/assets/lib/stylus/stylus.min.js")

//- renderer
+script("/assets/lib/sandbox.js/sandbox.min.js")

//- for dev
+script("/assets/lib/ldui/ldui.min.js")
+script("https://cdnjs.cloudflare.com/ajax/libs/BrowserFS/2.0.0/browserfs.min.js")

