.CodeMirror {
  font-size: 18px;
  font-family: 'Inconsolata', monospace;
}
/* this is for a super-long-no-space line, such as long URL */
.CodeMirror-wrap pre.CodeMirror-line {
  word-break: break-all !important;
}
